@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  color: white;
  background-color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(100%, 800px);
}

#title {
  padding-top: 2rem;
  font-size: 4rem;
}

.row-container {
  display: flex;
  justify-content: center;
}

.card {
  border: #797c7e 2px solid;
  border-radius: 5%;
  background-color: transparent;
  color: white;
  width: 3.5rem;
  height: 3.5rem;
  padding: 3px;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.card span {
  font-size: 3rem;
}
.card.yellow {
  background-color: #ddcc5f;
  color: white;
  text-shadow: #222 0px 3px 3px;
}
.card.green {
  background-color: #75b367;
  color: white;
  text-shadow: #222 0px 3px 3px;
}
.card.dark-gray {
  background-color: #797c7e;
  color: white;
  text-shadow: #222 0px 3px 3px;
}

.active-card {
  border: #ddd 2px solid;
}

#keyboard {
  margin-top: 2rem;
  width: 100%;
}

.key {
  font-size: 2rem;
  width: 2.5rem;
  height: 3.5rem;
  margin-top: 10px;
  background-color: #ddd;
  border: #444 1px solid;
  border-radius: 5px;
  user-select: none;
}
.key:hover {
  background-color: #f0ecec;
  cursor: pointer;
}
.key.yellow {
  background-color: #ddcc5f;
  color: black;
  text-shadow: #222 0px 0px 0px;
}
.key.green {
  background-color: #75b367;
  color: black;
  text-shadow: #222 0px 0px 0px;
}
.key.dark-gray {
  background-color: #797c7e;
  color: black;
  text-shadow: #222 0px 0px 0px;
}
.key.yellow:hover {
  background-color: #f0e7ad;
}
.key.green:hover {
  background-color: #b8ddaf;
}
.key.dark-gray:hover {
  background-color: #797c7e;
}

.message-container {
  z-index: 1;
  height: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  position: absolute;
  top: -7.5rem;
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  text-shadow: #222 1px 1px 3px;
  border-radius: 2.5rem;
  opacity: 0%;
  pointer-events: none;
  width: max-content;
  transition: 0.25s;
}

#message-loading {
  background-color: rgb(145, 145, 207);
  z-index: 1;
}

#message-invalid-word {
  background-color: rgb(214, 65, 65);
  z-index: 2;
}

#message-invalid-length {
  background-color: #ddcc5f;
  z-index: 3;
}

.message-show {
  opacity: 100%;
}

.row-buttons button {
  font-size: 1.5rem;
  padding: 5px;
  margin-top: 1rem;
  margin-inline: 3px;
  border: none;
  border-radius: 15px;
}

#deleteButton {
  background-color: #ddcc5f;
}

#submitButton {
  background-color: #75b367;
}

/* MODAL */
.modal-backdrop {
  visibility: hidden;
  opacity: 0%;
  transition: opacity 0.3s;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.8666666667);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.modal-okay {
  background-color: #75b367;
}

.modal-dark {
  background-color: #797c7e;
}

.modal {
  background-color: lightgray;
  user-select: text;
  width: min(450px, 100%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.modal .modal-header {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  border-radius: 20px 20px 0px 0px;
  font-size: 2rem;
  flex-grow: 1;
  text-align: center;
}
.modal .modal-body {
  font-size: 1.5rem;
  line-height: 2.2rem;
  padding-top: 2rem;
  color: #222;
}
.modal .modal-body p {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}
.modal .modal-buttons {
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
}

#modal-word {
  font-size: 3rem;
  letter-spacing: 20px;
  margin-left: 10px;
}

#modal-contact-info {
  font-size: 1.2rem;
  margin: 0;
}

#modal-contact-icons {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin-bottom: 30px;
}
#modal-contact-icons a {
  color: white;
  text-decoration: none;
  background-color: #222;
  padding: 2px 8px 2px 12px;
  border-radius: 15px;
  transition: background-color 0.25s;
  user-select: none;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
#modal-contact-icons a i {
  margin-right: 5px;
}
#modal-contact-icons a:hover {
  background-color: #9c8585;
  cursor: pointer;
}

#modal-replay {
  font-size: 1.5rem;
  border: none;
  border-radius: 15px;
  height: 2.5rem;
  margin: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
#modal-replay:hover {
  background-color: #b8ddaf;
  color: #666;
  cursor: pointer;
}

/*# sourceMappingURL=styles.css.map */
