@use "sass:color";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$green-color: #75b367;
$yellow-color: #ddcc5f;
$light-gray-color: #ddd;
$dark-gray-color: #797c7e;


* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    color: white;
    background-color: #222;

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
}

.container {
    // border: red 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(100%, 800px);
}

#title {
    padding-top: 2rem;
    font-size: 4rem;
}

.row-container {
    display: flex;
    justify-content: center;
}

@mixin used-card($background-color, $color:white, $blur:0px) {
    background-color: $background-color;
    color: $color;
    text-shadow: #222 0px $blur $blur;
}

.card {
    border: $dark-gray-color 2px solid;
    border-radius: 5%;

    background-color: transparent;
    color: white;

    width: 3.5rem;
    height: 3.5rem;
    padding: 3px;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;

    span {
        font-size: 3rem;
    }

    &.yellow {
        @include used-card($yellow-color, white, 3px);
    }

    &.green {
        @include used-card($green-color, white, 3px);
    }

    &.dark-gray {
        @include used-card($dark-gray-color, white, 3px);
    }
}

.active-card {
    border: $light-gray-color 2px solid;
}

#keyboard {
    // border: blue 1px solid;
    margin-top: 2rem;
    width: 100%;
}

@mixin hover-button-color($button-color) {
    $lighter-color: color.scale($button-color, $lightness: 50%);
    $saturated-color: color.scale($lighter-color, $saturation: 10%);
    background-color: $saturated-color;
}

.key {
    font-size: 2rem;
    width: 2.5rem;
    height: 3.5rem;
    margin-top: 10px;
    background-color: $light-gray-color;
    border: #444 1px solid;
    border-radius: 5px;
    user-select: none;

    &:hover {
        @include hover-button-color($light-gray-color);
        cursor: pointer;
    }

    &.yellow {
        @include used-card($yellow-color, black);
    }

    &.green {
        @include used-card($green-color, black);
    }

    &.dark-gray {
        @include used-card($dark-gray-color, black);
    }

    &.yellow:hover {
        @include hover-button-color($yellow-color);
    }

    &.green:hover {
        @include hover-button-color($green-color);
    }

    &.dark-gray:hover {
        background-color: $dark-gray-color;
    }
}

.message-container {
    z-index: 1;
    height: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message {
    position: absolute;

    top: -7.5rem;

    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
    text-shadow: #222 1px 1px 3px;
    border-radius: 2.5rem;

    opacity: 0%;
    pointer-events: none;
    width: max-content;

    transition: 0.25s;
}


#message-loading {
    background-color: rgb(145, 145, 207);
    z-index: 1;
}

#message-invalid-word {
    background-color: rgb(214, 65, 65);
    z-index: 2;
}

#message-invalid-length {
    background-color: #ddcc5f;
    z-index: 3;
}

.message-show {
    opacity: 100%;
}


.row-buttons button {
    font-size: 1.5rem;
    padding: 5px;
    margin-top: 1rem;
    margin-inline: 3px;
    border-radius: 15px;
}

/* MODAL */


.modal-backdrop {
    visibility: hidden;
    opacity: 0%;
    transition: opacity 0.3s;

    position: fixed;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    background-color: #222222dd;

    display: flex;
    align-items: center;
    justify-content: center;

    user-select: none;
}

.modal-okay {
    background-color: $green-color;
}

.modal-dark {
    background-color: $dark-gray-color;
}

.modal {
    background-color: lightgray;
    user-select: text;

    width: min(450px, 100%);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    .modal-header {
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        border-radius: 20px 20px 0px 0px;

        font-size: 2rem;
        flex-grow: 1;
        text-align: center;
    }

    .modal-body {
        font-size: 1.5rem;
        line-height: 2.2rem;
        padding-top: 2rem;
        color: #222;

        p {
            width: 100%;
            text-align: center;
            margin-bottom: 15px;
        }
    }

    .modal-buttons {
        padding-right: 1.5rem;
        padding-bottom: 1rem;
        display: flex;
        justify-content: flex-end;
    }
}

#modal-word {
    $word-spacing: 20px;
    font-size: 3rem;
    letter-spacing: $word-spacing;
    margin-left: 0.5 * $word-spacing;
}

#modal-contact-info {
    font-size: 1.2rem;
    margin: 0;
}

#modal-contact-icons {
    font-size: 1.2rem;
    display:flex;
    justify-content: space-around;
    align-items: baseline;

    a {
        color: white;
        text-decoration: none;
        background-color: #222;
        padding: 2px 8px 2px 12px;
        border-radius: 15px;
        transition: background-color 0.25s;
        user-select: none;

        display: flex;
        align-items: center;
        flex-wrap: nowrap;

        i {
            margin-right: 5px;
        }

        &:hover {
            @include hover-button-color(#222);
            cursor: pointer;
        }
    }

    margin-bottom: 30px;
}

#modal-replay {
    font-size: 1.5rem;
    border: none;
    border-radius: 15px;
    height: 2.5rem;
    margin: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;

    &:hover {
        @include hover-button-color($green-color);
        color: #666;
        cursor: pointer;
    }
}